# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# environments
.env
.venv
env/
venv/
ENV/

# junk
.idea
.DS_Store

# instance config stuff
instance
